html {
  font-family: "Ubuntu Condensed", sans-serif;
}

body {
  background-image: url("../images/starfield.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
  text-shadow: 0 0 15px rgba(255, 255, 255, .7);
}

p {
  color: #fff;
}

a {
  color: #b4fff4;
  text-decoration: none;
}

.btn-ghost {
  border: 2px solid;
  border-color: #90ccc3;
  border-radius: 6px;
  color: #b4fff4;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 2s;
}

.button-padding {
  height: 5px;
  border-top: 2px solid #90ccc3;
  width: 126%;
}

.btn-ghost:hover {
  background-color: rgba(180, 255, 244, .2);
  color: #b4fff4;
  border: 2px solid #90ccc3;
  border-radius: 6px;
}

.btn-ghost:hover .i-32 {
  transform: translate(0, -5px);
}

.btn-ghost:active {
  padding-bottom: 1px;
  top: .1em;
}

.bth-ghost:focus {
  padding-bottom: 1px;
}

.button-container {
  height: 76px;
  display: flex;
  align-items: flex-end;
}

.i-32 {
  width: 25px;
}
